.circle {
    display: flex;
    position: relative;
    width: 250px;
    height: 250px;
    left: 50px;
    top: 43px;
    background-image: url(./images/image1.jpg);
    background-size: 200%;
    border-radius: 50%;
    box-sizing: border-box;
    background-position: center top;
}

button {
    outline: none; 
    position: absolute;
    font-family: "Open Sans", sans-serif; 
    font-style: normal; 
    font-weight: bold; 
    right: 10px;
    bottom: 10px;
    color: #BEB499;
    font-size: 36px; 
    width: 82px;
    height: 82px;
    background: #FEFEFF;
    box-sizing: border-box;
    border-radius: 50%;
    border: 7px solid #6D6D6D;
    box-shadow: 0 10px 12px rgba(0,0,0,0.22);
    transition: 0.5s ease box-shadow;
}

button:active {
    box-shadow: none;
}
