* {
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}


body {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.submenu {
    border-radius: 0%;
    left: -28%;
    top: 99%;
    margin-left: -105px;
    align-items: center;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: 1px;
    flex-direction: column;
    position: absolute;
    background: #273037;
}

.submenu a {
    border-bottom: 1px solid rgba(255,255,255,.1);
}

li {
    position: relative;
}

nav ul li a:hover, nav ul li a:focus {
    color: #b7dcff;
 }

li:focus-within> .submenu,
li:hover .submenu {
    display: flex;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
}

ul {
    display: flex;
    justify-content:space-around;  
    padding-left: 0;
    list-style: none;
    background-image: url('./images/background.png');
    background-size: cover;
    border-radius: 10px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
}

a:hover {
    background: rgba(255, 255, 255, 0.3);
}
