* {
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF; 
}

.container_1 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 849px;
    height: 167px;
    border: 1px solid #C1C1C1;
    box-sizing: border-box;
}

.square_1 {
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: #C4C4C4;
    display: inline-block;
}

.container_2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 849px;
    height: 401px;
    border: 1px solid #C1C1C1;
    box-sizing: border-box;
}

.square_2 {
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: #C4C4C4;  
}