.rectangle {
    width: 1341px;
    height: 285px;
    background: #C4C4C4;
    border-radius: 9px;
    padding: 34px;
    box-sizing: border-box;
}
.row:last-child {
    padding-top: 28px;
}
.circle {
    width: 89px;
    height: 89px;
    background: #1c6ce6;
    border-radius: 50%;
    display: inline-block;
    margin-left: 39px;
}
.circle:first-child {
    margin-left: 0;
}
.circle_red {
    background: red;
}